body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    color: #333333;
}

h1{
    font-size: 3.5rem;
    color: #003366;
}

.choices input{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 10px 10px;
    border-radius: 250px;
    border-color: aliceblue;
    transition: 0.3s;
}
.choices input:hover{
    background-color: #8fa3fd;
    transform: scale(1.05);
}

.scoreboard{
    font-weight: bold;
    font-size: 1.5rem;
    color: #333333;
}
.results{
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
}
.reset-button{
    border-radius: 160px;
    font-weight: bold;
    font-size: 2rem;
    padding: 20px;
    color: #333333;
    background-color: #c9d2f8;
    border-color: aliceblue;
    margin-bottom: 20px;
    transition: 0.3s;
}
.reset-button:hover{
    background-color: #8fa3fd;
    transform: scale(1.05);
}

